@model HospitalManagementApp.Models.Staff

@{
    ViewData["Title"] = "CreateCalendar";
}

<h1>Create</h1>

<h3>Are you sure you want to create calendar for all staffs?</h3>

    <form asp-action="CreateCalendar">
        <input type="submit" value="Create" class="btn btn-danger" style="background-color:lightblue" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
