@model HospitalManagementApp.Models.AuthenticationModels.RegisterModel

@{
    ViewData["Title"] = "ChangePassword";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="ChangePassword" method="post">
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3" hidden>
                <input asp-for="Id" class="form-control" readonly/>
                <label asp-for="Id">Id</label>
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3" hidden>
                <input asp-for="UserName" class="form-control" readonly />
                <label asp-for="UserName">Name</label>
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3" hidden>
                <input asp-for="Email" class="form-control" readonly/>
                <label asp-for="Email">Email</label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Password" class="form-control" />
                <label asp-for="Password">Password</label>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="ConfirmPassword" class="form-control" />
                <label asp-for="ConfirmPassword">Confirm Password</label>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3" hidden>
                <input asp-for="Role" class="form-control" readonly />
                <label asp-for="Role">Account's role</label>
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3" hidden>
                <input asp-for="DataId" class="form-control" readonly />
                <label asp-for="DataId">Database identifier</label>
                <span asp-validation-for="DataId" class="text-danger"></span>
            </div>
            <button id="Create" type="change" class="w-100 btn btn-lg btn-primary">Change password</button>
        </form>
    </div>
</div>

