body{
    background-image: url(../img/login.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

form {
    background-color: lightgray;
    border: 5px solid groove;
    border-radius: 20px;
    position: relative;
    padding : 20px;
    width: 100%;
    margin-top: 50px;
    text-align: center;
}

p a {
    color: #007bff;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}
