@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="/css/home.css" />
<div class="text-center">
    <h6>Thời gian làm việc: Ca sáng: 6AM - 11:30AM   |   Ca chiều: 12:30AM - 16:30PM   |   Làm thêm: 16:30PM - 19PM</h6>
    <h1></h1>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <h1> Chào mừng đến với bệnh viện HCMUT</h1>
    <br /><br /><br />
    <p>Địa chỉ: Đông Hòa - Dĩ An - Bình Dương</p>
    